<div class="header">
    <div class="container">
        <div class="row control-panel">
            <div class="col-xs-12">
                <div class="home-button">
                    <a ui-sref="home"><i class="icon-home"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row draw-container">
        <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
            <dac-canvas line-collection="lineCollection" cat-parts="catParts"></dac-canvas>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-5 col-lg-6">
            <dac-draw-instructions></dac-draw-instructions>
            <button ng-click="showSaveDialog = true" ng-show="drawing.completed" class="save-button btn btn-lg">Save Cat!</button>
        </div>
    </div>
    <dac-modal-dialog show="help.show">
        <h1>Draw A Cat</h1>
        <p>
            Draw your own cat using your mouse or finger! Each part of the cat is drawn separately so that it can come to life when you're done.
            Follow the instructions below, and use the blueprint as a guide.
        </p>
        <p>
            If your hand slips, you can undo the last line you drew by pressing the
            "undo" button in the top right of the canvas.
        </p>
        <p>
            When you've drawn all the parts, you'll be able to save your cat and share it with the world. Have fun!
            <br><br>
        </p>
        <button class="btn btn-primary" ng-click="help.show = false">Okay!</button>
    </dac-modal-dialog>
    <dac-save-dialog show="showSaveDialog" submit="saveCat(formData)"></dac-save-dialog>
</div>