<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
        <dac-canvas line-collection="lineCollection" cat-parts="catParts"></dac-canvas>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-5 col-lg-6">
        <div class="draw-controls">
            <button ng-disabled="lineCollection.count() == 0" ng-click="undo()">Undo</button>
            <br>
            <button ng-click="previousStep()">Previous</button>
            <button ng-click="nextStep()">Next</button>
            <button ng-click="showSaveDialog = true" ng-show="true">Save</button>

        </div>
        <dac-draw-instructions></dac-draw-instructions>
    </div>
</div>
<dac-modal-dialog show="showSaveDialog">
    <div class="save-controls">
        <label for="name">Name: </label><input id="name" ng-model="name">
        <label for="description">Description: </label><textarea id="description" ng-model="description"></textarea>
        <button action="saveCat()">Save Cat</button>
    </div>
</dac-modal-dialog>
