
.canvas-container {
  position: relative;
  width: 540px;
  height: 540px;
}
#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(255,255,255,0.5);
}
#canvas-frame {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 500px;
  height: 500px;
  border: 1px solid #333;
  z-index: 0;
}
#draw-guide {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 500px;
  height: 500px;
  z-index: -1;
}