.header {
  a:link, a:visited {
    color: #999;
  }
  a:hover, a:active {
    color: #666;
    text-decoration: none;
  }

  .control-panel {
    position: relative;
    z-index: 300;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    i {
      font-size: 16px;
      color: #999;
      @media (min-width: @screen-sm-min) {
        font-size: 24px;
      }
    }
    button:focus {
      outline: none;
      color: #555;
    }
    button.selected {
      color: #555;
    }
  }
  .button-bar {
    text-align: right;
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      padding: 0px 3px;
    }
  }
  .comments-link {
    width: 40px;
    text-align: center;
    &.floating {
      position: fixed;
      z-index: 500;
      top: -15px;
      padding-top: 20px;
      background-color: #f7f7f7;
      border-radius: 5px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    }
  }
}

.settings-panel {
  padding: 10px;
  z-index: 210;
  margin-top: 55px;
  background-color: #fff;
}

.info-panel-container {
  position: absolute;
  width: 100%;
  left: 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  min-width: 300px;
  top: -5px;
  z-index: 200;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  transition: top 0.5s;
  h1 {
    font-family: @comic-sans;
    margin: 2px 0px;
  }
  p {
    font-family: @comic-sans;
  }
  .extended-info {
    padding: 5px 0px;
  }
  ul.share-buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: table-cell;
      padding-right: 5px;
    }
  }
  twitter-button iframe {
    margin-bottom: -5px;
  }
  .rate-cat-button {
    border: none;
    background: none;
  }
  button.toggle-info-panel {
    margin-top: -20px;
    border: none;
    background: none;
    &:focus {
      outline: none;
      color: #555;
    }
  }
}

#stage-container {
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
}
canvas {
  background-color: #f5f5f5;
}
#stage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}