<div class="cat-info-panel">
    <div class="share-buttons">
        <button class="btn btn-default" ng-click="rateCat()">
            <i class="icon-star" ng-show="!catHasBeenRated"></i>
            <i class="icon-star2" ng-show="catHasBeenRated"></i>
            {{ catData.rating }}
        </button>
        <button class="btn btn-default" ng-click="scrollTo('comments')"><i class="icon-bubbles"></i> Comments</button>
        <a class="btn btn-default" facebook-button><i class="icon-facebook"></i> Share</a>
        <a class="btn btn-default" twitter-button><i class="icon-twitter"></i> Tweet</a>
    </div>
    <div class="extended-info">
        <h2>{{ catData.name }} <small>by {{ catData.author }}</small></h2>
        <p>{{ catData.description }}</p>
    </div>
</div>

<dac-stage cat="cat" ball="ball"></dac-stage>
<dir-disqus disqus-shortname="drawacat"
            disqus-identifier="{{ catData.id }}-{{ catData.name }}"
        disqus-url="{{ pageUrl }}" id="comments">
</dir-disqus>