.header {
  z-index: 1000;
  position: relative;
  padding: 5px 10px;
  h1 {
    margin: 3px 0px;
    font-family: @comic-sans;
    display: inline-block;
  }
  a:link, a:visited {
    color: #333;
  }
  a:hover, a:active {
    color: #666;
    text-decoration: none;
  }
  .control-panel-button {
    font-size: 32px;
    button.selected {
      background-color: #ccc;
    }
  }
}

#stage-container {
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
}
canvas {
  background-color: #f5f5f5;
}
#stage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.cat-info-panel {
  position: absolute;
  margin-left: 50px;
  top: 0px;
  z-index: 200;
  padding: 0px 0px 5px 0px;
  h2 {
    font-family: @comic-sans;
    margin: 2px 0px;
  }
  p {
    font-family: @comic-sans;
  }
  .share-buttons {
    .btn {
      padding: 2px 6px;
      background: none;
    }
  }
  twitter-button iframe {
    margin-bottom: -5px;
  }
  .rate-cat-button {
    border: none;
    background: none;
  }
}
.control-panel {
  padding-top: 10px;
  position: relative;
  z-index: 210;
}