<div class="draw-instructions">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="drawing.showGuide" id="showGuideCheckbox"> Show drawing guide
        </label>
    </div>
    <div class="steps-list">
        <ul>
            <li ng-repeat="step in steps">
                <span ng-class="{selected: step == currentStep, done: catParts[step].done }">{{ catParts[step].label }}</span> <span ng-show="catParts[step].done">done!</span>
                <div class="instruction" ng-show="step == currentStep">
                    <p>
                        {{ instruction }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>