<ifModule mod_rewrite.c>
 RewriteEngine On

# Required to allow direct-linking of pages so they can be processed by Angular

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L]

    RewriteCond %{HTTP_HOST} ^.$
    RewriteRule ^(.*) %HTACCESS_ROOT%/$1 [R=301]
</ifModule>