<ifModule mod_rewrite.c>
 RewriteEngine On

# www is the canonical URL
RewriteCond %{HTTP_HOST} ^drawacat.net$
RewriteRule (.*) http://www.drawacat.net/$1 [R=301,L]

# allow facebook & twitter crawler to work by redirecting it to a server-rendered static version on the page
RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit/[0-9]|Twitterbot)
RewriteRule cat/(.*) http://www.drawacat.net/api/staticPage.php/$1 [L]

# Required to allow direct-linking of pages so they can be processed by Angular

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L]

    RewriteCond %{HTTP_HOST} ^.$
    RewriteRule ^(.*) %HTACCESS_ROOT%/$1 [R=301]
</ifModule>