<!DOCTYPE html>
<!--suppress ALL -->
<html ng-app="drawACat" ng-controller="AppController">
<head>
    <base href="/GitHub/drawACatApp/build/">
    <title ng-bind="metaData.pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="drawacat.net">
    <meta name="twitter:title" content="{{ metaData.pageTitle }}">
    <meta name="twitter:description" content="Draw a cat and play with it. What could be better?">
    <meta name="twitter:creator" content="@michlbrmly">
    <meta name="twitter:image:src" content="{{ metaData.image }}">
    <meta property="og:title" content="{{ metaData.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metaData.url }}" />
    <meta property="og:image" content="{{ metaData.image }}" />
    <meta property="og:description" content="Draw a cat and play with it. What could be better?">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>
<body>

<div ui-view="main" class="main"></div>

<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                Draw A Cat: a sketch by Michael Bromley<br>
                www.michaelbromley.co.uk<br>
                @michlbrmly<br>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
