
.hero-bar {
  text-align: center;
  a.draw-button {
    font-size: 3em;
    font-family: @comic-sans;
    margin: 30px;
    border: 3px solid #666;
    &:link, &:visited {
      color: #444;
    }
  }
}
.filter-controls {
  position: relative;
  button.selected {
    background-color: #a6d1ee;
  }
  -webkit-box-shadow: 0px 5px 8px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 8px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 8px -7px rgba(0,0,0,0.75);

  .sort-row {
    text-align: center;
    @media (min-width: @screen-sm-min) {
      text-align: right;
    }
  }
}
.cat-list-container {
  overflow: hidden;
}

.tag-selector-container {
  .input-container {
    position: relative;
    display: inline-table;
    border-collapse: separate;
    width: 200px;
    margin-bottom: 8px;

    .tag-icon {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #555555;
      text-align: center;
      background-color: #eeeeee;
      border: 1px solid #cccccc;
      border-right: none;
      border-radius: 4px;
      display: table-cell;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    input {
      display: table-cell;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  ul.hashtags {
    display: inline-block;
    padding-left: 8px;
  }

  .remove-tag i {
    font-size: 10px;
  }
}

ul.sort-mode {
  display: inline-block;
  padding: 0px;
  margin-bottom: 3px;
  li {
    font-weight: bold;
    display: inline-block;
    padding: 10px 6px 0px 6px;
    a:link, a:visited {
      color: #666;
    }
    a:hover, a:active {
      text-decoration: none;
    }
    &.active {
      border-bottom: 3px solid @highlight-colour;
      a:link, a:visited {
        color: #333;
      }
    }
  }
}

@overlay-colour:  rgba(100,100,100,0.2);
#overlay {
  opacity: 0;
  transition: max-height 0s ease 1s, opacity 0.8s;
  max-height: 0px;
  position: fixed;
  top: -100px;
  left: 0px;
  width: 100vw;
  height: 200%;
  background-color: @overlay-colour;
  z-index: 100;
  &.displaying {
    transition: max-height 0s ease 0s, opacity 1s ease 0.2s;
    max-height: 3000px;
    opacity: 1;
  }
}

.image-drop-shadow {
  -webkit-box-shadow: 0px 30px 30px -30px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 30px 30px -30px rgba(0,0,0,0.5);
  box-shadow: 0px 30px 30px -30px rgba(0,0,0,0.5);
}

@transition-time: 0.4s;
.preview-panel {
  font-family: verdana, arial;
  position: relative;
  width: 200px;
  height: 240px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  padding: 10px;
  @halo-radius: 250;
  .halo {
    transition: opacity 2s ease 0s, visibility 0s ease 0.8s, z-index 0s linear 0.8s;
    //transition: all 1.5s;
    z-index: 101;
    opacity: 0;
    position: absolute;
    margin-top: -@halo-radius + 100px;
    padding: 200px;
    width: @halo-radius*2px;
    height: @halo-radius*2px;
    visibility: hidden;
    margin-left: -@halo-radius + 100px;
    background: rgba(245,245,245,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 43%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(245,245,245,1)), color-stop(43%, rgba(245,245,245,1)), color-stop(71%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 43%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 43%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 43%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 43%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#000000', GradientType=1 );
  }
  .contents {
    position: relative;
    z-index: 50;
    transition: z-index 0s linear 0.8s;
  }
  .click-box {
    z-index: 102;
    position: absolute;
    width: 200px;
    height: 200px;
    transition: box-shadow 0.5s;
    cursor: pointer;
    &:hover {
      .image-drop-shadow();
    }
  }
  .image-box {
    width: 200px;
    cursor: pointer;
  }
  &.selected {
    .cat-name {
      opacity: 1;
      margin-top: -30px;
      visibility: visible;
      transition: margin 0.5s,  opacity 0.5s, visibility 0s;
      a:link, a:visited {
        color: darken(@highlight-colour, 10%);
      }
      a:hover, a:active {
        color: @highlight-colour;
        text-decoration: none;
      }
    }
    .click-box {
      .image-drop-shadow();
    }
    .contents {
      z-index: 105;
      transition: z-index 0s;
    }
    .halo {
      opacity: 1;
      transition: opacity 0.3s, visibility 0s, z-index 0s;
      z-index: 101;
      visibility: visible;
    }
  }
  .cat-name {
    text-align: center;
    font-family: @comic-sans;
    position: absolute;
    font-size: 20px;
    margin: 0px;
    width: 300px;
    margin-left: -50px;
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
    transition:margin 0.5s,  opacity 0.5s, visibility 0s linear 0.8s;
    a:link, a:visited {
      color: #333;
    }
    a:hover, a:active {
      color: #777;
    }
  }
  .additional-info {
    display: block;
    transition:max-height 0s ease 1s,  opacity 0.5s;
    opacity: 0;
    max-height: 0px;
    padding: 3px;
    position: absolute;
    overflow: hidden;
    width: 300px;
    margin-left: -50px;
    .stagger {
      margin-top: 100px;
      transition:  margin 0.5s
    }
    &.show-info {
      transition: opacity 0.8s, margin 0.2s;
      margin-top: 0px;
      opacity: 1;
      max-height: 300px;
      .stagger {
        margin-top: 0px;
      }
    }
  }
  .title-box {
    font-family: @comic-sans;
    h4 {
      margin: 5px;
      color: #666;
      font-size: 16px;
    }
  }
  ul.hashtags {
    list-style-type: none;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    li {
      display: inline-block;
    }
  }
  .details-box {
    color: #666;
    position: relative;
    text-align: left;
    width: 100%;
    .detail-created {
      display: table-cell;
      width: 155px;
    }
    .detail-rating {
      text-align: right;
      display: table-cell;
    }
  }
}

@tag-colour: #fff;
.tag { // main body of tag
  background: @tag-colour;
  border: #dcdcdc;
  border-radius: 0 2px 2px 0;
  color: @highlight-colour;
  display: inline-block;
  height: 20px;
  left: 0;
  line-height: 20px;
  margin: 5px;
  padding: 0 10px 0 15px;
  position: relative;
  top: 0;
  webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}
.tag:before { // triangle shape on left
  border-bottom: 10px transparent solid;
  border-right: 8px @tag-colour solid;
  border-top: 10px transparent solid;
  content: '';
  height: 0;
  left: -8px;
  position: absolute;
  top: 0;
  width: 0;
}
.tag:after { // "hole"
  background: white; // hole background
  border: 1px #ccc solid; // hole border
  border-radius: 50%;
  content: '';
  height: 6px;
  left: 0;
  position: absolute;
  width: 6px;
  top: 6px;
}

.pagination > li > a, .pagination > li > span, .pagination > .disabled > a {
  font-family: @comic-sans;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #666;
  background: none;
  border: none;
  margin-left: -1px;
}
.pagination > .active > a, .pagination > .active > a:hover,  {
  background: none;
  color: #333;
  border-bottom: 3px solid @highlight-colour;
  font-weight: bold;
}

// animations
/*
.panel-container.ng-enter,
.panel-container.ng-leave,
.panel-container.ng-move {
  -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
  position:relative;
}

.panel-container.ng-enter {
  opacity:0;
}
.panel-container.ng-enter.ng-enter-active {
  opacity:1;
}

.panel-container.ng-leave {
  opacity:1;
}
.panel-container.ng-leave.ng-leave-active {
  opacity:0;
}

.panel-container.ng-move {
  opacity:0;
}
.panel-container.ng-move.ng-move-active {
  opacity:1;
}
*/
