<div class="hero-bar">
    <div class="huge-cat">
        <a href="#!/cat/new" class="btn btn-default draw-button">Draw a cat!</a>
    </div>
</div>
<div class="container">



    <div class="filter-controls row">
        <div class="col-sm-6">
            <tag-selector></tag-selector>
        </div>
        <div class="col-sm-6">
            Order by:
            <button class="btn btn-default" ng-click="predicate = 'rating'; reverse = !reverse" ng-class="{ selected: predicate == 'rating'} ">
                rating
                <i class="icon-caret-down" ng-show="!reverse"></i>
                <i class="icon-caret-up" ng-show="reverse"></i>
            </button>
            <button class="btn btn-default" ng-click="predicate = 'created'; reverse = !reverse" ng-class="{ selected: predicate == 'created'} ">
                created
                <i class="icon-caret-down" ng-show="!reverse"></i>
                <i class="icon-caret-up" ng-show="reverse"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="preview-pane" ng-repeat="cat in cats | byTag: tagsArray | orderBy: predicate:reverse">
                <div class="image-box">
                    <a href="#!/cat/{{ cat.id }}/{{ cat.name | urlFriendlyName }}"><img ng-src="{{ cat.thumbnail }}_m.gif"></a>
                </div>
                <div class="title-box">
                    <h3><a href="#!/cat/{{ cat.id }}/{{ cat.name | urlFriendlyName }}">{{ cat.name }}</a></h3>
                    <h4>by {{ cat.author }}</h4>
                </div>
                <ul class="hashtags">
                    <li ng-repeat="tag in cat.tags" class="tag">#{{ tag }}</li>
                </ul>
                <div class="details-box">
                    <div class="detail-created">
                        <i class="icon-calendar"></i> {{ cat.created | timeAgo }}
                    </div>
                    <div class="detail-rating">
                        <i class="icon-star2"></i> {{ cat.rating }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>