<div class="hero-bar">
    <a href="#!/cat/new" class="btn btn-default draw-button">Draw a cat!</a>
</div>
<div class="container">



    <div class="filter-controls row">
        <div class="col-sm-6">
            <tag-selector></tag-selector>
        </div>
        <div class="col-sm-6 text-right">
            <ul class="sort-mode">
                <li ng-class="{ active : predicate === 'trendingScore' }"><a href="" ng-click="predicate = 'trendingScore'">Trending</a></li>
                <li ng-class="{ active : predicate === 'created' }"><a href="" ng-click="predicate = 'created'">Newest</a></li>
                <li ng-class="{ active : predicate === 'rating' }"><a href="" ng-click="predicate = 'rating'">Top Rated</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">

            <div id="preview-container">

                <div class="preview-pane" ng-repeat="cat in cats | byTag: tagsArray | orderBy: predicate:true">
                    <div class="image-box">
                        <a href="#!/cat/{{ cat.id }}/{{ cat.name | urlFriendlyName }}"><img ng-src="{{ cat.thumbnail }}_m.gif"></a>
                    </div>
                    <div class="title-box">
                        <h3><a href="#!/cat/{{ cat.id }}/{{ cat.name | urlFriendlyName }}">{{ cat.name }}</a></h3>
                        <h4>by {{ cat.author }}</h4>
                    </div>
                    <ul class="hashtags">
                        <li ng-repeat="tag in cat.tags" class="tag">
                            <a href="" ng-click="tagLinkClicked(tag)">#{{ tag }}</a>
                        </li>
                    </ul>
                    <div class="details-box">
                        <div class="detail-created">
                            <i class="icon-calendar"></i> {{ cat.created | timeAgo }}
                        </div>
                        <div class="detail-rating">
                            <i class="icon-star2"></i> {{ cat.rating }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>