<div class="preview-panel">
    <div class="halo"></div>
    <div class="click-box" ng-click="clickHandler()"></div>
    <div class="contents"  ng-click="clickHandler()">
        <h3 class="cat-name">
            <a href="#!/cat/{{ cat.id }}/{{ cat.name | urlFriendlyName }}">
                Play with
                {{ cat.name }}
            </a>
        </h3>
        <div class="image-box">
            <a><img ng-src="{{ cat.thumbnail }}_m.gif"></a>
            <div class="details-box">
                <div class="detail-created">
                    <i class="icon-calendar"></i> {{ cat.created | timeAgo }}
                </div>
                <div class="detail-rating">
                    <i class="icon-star2"></i> {{ cat.rating }}
                </div>
            </div>
        </div>
        <div class="additional-info" ng-class="showInfo">
            <div class="title-box">
                <h4 class="stagger">by {{ cat.author }}</h4>
            </div>
            <ul class="hashtags stagger">
                <li ng-repeat="tag in cat.tags" class="tag">
                    <a href="" ng-click="tagClick(tag)">{{ tag }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>